html, body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden; /* Evita rolagem inesperada */
    display: flex;
    justify-content: center;
    align-items: center;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url("{{ url_for('static', filename='fundoInicial3.png') }}");
}

.container {
    height: 100%;
    display: flex;
    justify-content: flex-end; /* Move os botões para a direita */
    align-items: center;
    padding-right: 20px; /* Ajusta a distância da borda direita */
}


.btn-custom {
    width: 500px; /* Aumentado o tamanho dos botões */
    height: 50px; /* Aumentado a altura dos botões */
    font-size: 18px; /* Aumentado o tamanho da fonte */
    text-transform: uppercase;
    background: #1b0150; /* Azul escuro */
    font-family: Andale Mono, monospace;
    border-radius: 20px; /* Bordas mais arredondadas para um design mais moderno */
    border: 2px solid #1E3A8A; /* Borda azul mais clara para destaque */
    color: white; /* Texto branco */
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3); /* Pequena sombra no texto para melhor visibilidade */
    transition: background 0.3s, opacity 0.5s, transform 0.2s; /* Transição suave */
    opacity: 0; /* Inicialmente invisível */
}

.btn-custom:hover {
    background: #1E3A8A; /* Um azul um pouco mais claro no hover */
    transform: translateY(-5px); /* Efeito de relevo */
}

.btn-custom.fade-in {
    opacity: 1; /* Tornar visível */
}

.menu {
    text-align: center;
}

.notification-icon {
    position: absolute;
    top: 20px;
    right: 20px;
    font-size: 24px;
    cursor: pointer;
    color: white;
}

.notification-count {
    position: absolute;
    top: 10px;
    right: 10px;
    background: red;
    color: white;
    border-radius: 50%;
    padding: 5px 10px;
    font-size: 14px;
}

.dropdown-menu {
    position: absolute;
    background: white;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    display: none;
    z-index: 1000;
    width: 500px;
}

.dropdown-menu.show {
    display: block;
}

.dropdown-item {
    padding: 10px 20px;
    border-bottom: 1px solid #eee;
    cursor: pointer;
}

.dropdown-item:last-child {
    border-bottom: none;
}

.dropdown-item:hover {
    background: #f5f5f5;
}

.alert-card {
    background: #fff3cd; /* fundo amarelo claro */
    color: #856404;
    border: 1px solid #ffeeba;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 5px;
}
