html, body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden; /* Evita rolagem inesperada */
    display: flex;
    justify-content: center;
    align-items: center;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url("{{ url_for('static', filename='fundoInicial3.png') }}");
}

.container {
    height: 100%;
    display: flex;
    justify-content: flex-end; /* Move os botões para a direita */
    align-items: center;
    padding-right: 20px; /* Ajusta a distância da borda direita */
}


.btn-custom {
    width: 500px; /* Aumentado o tamanho dos botões */
    height: 50px; /* Aumentado a altura dos botões */
    font-size: 18px; /* Aumentado o tamanho da fonte */
    text-transform: uppercase;
    background: #1b0150; /* Azul escuro */
    font-family: Andale Mono, monospace;
    border-radius: 20px; /* Bordas mais arredondadas para um design mais moderno */
    border: 2px solid #1E3A8A; /* Borda azul mais clara para destaque */
    color: white; /* Texto branco */
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3); /* Pequena sombra no texto para melhor visibilidade */
    transition: background 0.3s, opacity 0.5s, transform 0.2s; /* Transição suave */
    opacity: 0; /* Inicialmente invisível */
}

.btn-custom:hover {
    background: #1E3A8A; /* Um azul um pouco mais claro no hover */
    transform: translateY(-5px); /* Efeito de relevo */
}

.btn-custom.fade-in {
    opacity: 1; /* Tornar visível */
}

.menu {
    text-align: center;
}
