<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <title>Cadastrar SIMCard</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='cadastrar_simcard.css') }}">
</head>
<body>
    <div class="container">
        <div class="content-box">
            <h1>CADASTRAR SIMCARD</h1>

            <!-- 🔹 Formulário -->
            <div class="form-frame">
                <form method="POST" action="/cadastrar_simcard" style="display: flex; flex-direction: column; align-items: center; width: 100%;" onsubmit="setTimeout(function(){ document.getElementById('chip').focus(); }, 10);">
                    <div class="form-group">
                        <label for="chip">Chip (separe múltiplos chips por ponto e vírgula)</label>
                        <input type="text" class="form-control" id="chip" name="chip" required>
                    </div>
                    <div class="form-group">
                        <label for="operadora">Operadora</label>
                        <select class="form-control" id="operadora" name="operadora" required>
                            <option value="AVATEK">AVATEK</option>
                            <option value="ALLCOM">ALLCOM</option>
                            <option value="LYRA">LYRA</option>
                        </select>
                    </div>

                    <!-- 🔹 Botões "Cadastrar" e "Voltar" -->
                    <button type="submit" class="btn btn-red">Cadastrar</button>
                    <a href="/" class="btn btn-danger-custom">Voltar</a>
                </form>
            </div>
        </div>
    </div>
    <div class="floating-card" id="success-card">
        SIMCard cadastrado com sucesso!
    </div>
    <div class="floating-card error" id="error-card">
        Erro ao cadastrar SIMCard!
    </div>
    <script>
        document.addEventListener('DOMContentLoaded', function() {
            document.getElementById('chip').focus();
            const urlParams = new URLSearchParams(window.location.search);
            if (urlParams.has('success')) {
                document.getElementById('success-card').style.display = 'block';
                setTimeout(() => {
                    document.getElementById('success-card').style.display = 'none';
                }, 3000);
            }
            if (urlParams.has('error')) {
                document.getElementById('error-card').style.display = 'block';
                setTimeout(() => {
                    document.getElementById('error-card').style.display = 'none';
                }, 3000);
            }
        });
    </script>
</body>
</html>
