<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastrar Equipamentos em Portal</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='cadastrar_equipamentos_portal.css') }}">
</head>
<link rel="stylesheet" href="{{ url_for('static', filename='loading.css') }}">
<script src="{{ url_for('static', filename='loading.js') }}"></script>
<body>
    <div class="content-box">
        <h2>CADASTRAR EQUIPAMENTOS</h2>
        
        <!-- Grupo de botões horizontais -->
        <div class="btn-group-custom">
            <a href="{{ url_for('cadastrar_ssx') }}" class="btn btn-red">SSX</a>
            <div class="separator"></div> <!-- Linha separadora entre os botões -->
            <a href="{{ url_for('cadastrar_fulltrack') }}" class="btn btn-red">FULLTRACK</a>
        </div>

        <!-- Botão vermelho de voltar -->
        <a href="{{ url_for('index') }}" class="btn btn-danger-custom mt-4">Voltar</a>
    </div>
</body>
</html>
